<!-- app/views/admin_panel/index.html.erb -->

<h1>Welcome to the Admin Panel</h1>
<p>This is where you can manage users.</p>

<%= link_to "User Management", admin_panel_user_management_path, class: "btn btn-primary" %>
